[submodule "tools/destin"]
	path = tools/destin
	url = https://github.com/Tatsh/destin
[submodule "runtime/third_party/unicorn"]
	path = runtime/third_party/unicorn
	url = https://github.com/unicorn-engine/unicorn
[submodule "runtime/third_party/SDL2"]
	path = runtime/third_party/SDL2
	url = https://github.com/libsdl-org/SDL
[submodule "runtime/third_party/SDL2_mixer"]
	path = runtime/third_party/SDL2_mixer
	url = https://github.com/libsdl-org/SDL_mixer
